.folder {
  padding: 1em 2em;
  /* border: 1px solid gray; */
  cursor: pointer;
}
.no-folder {
  padding: 0 3em;
  margin: 0;
}
.folder span,
.folder button {
  margin-left: 1em;
}
/* 
.arrow-down {
  line-height: 16px;
  margin-top: 10px;
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid gray;
} */
.arrow-left::before {
  content: "\25B6";
  padding-right: 10px;
}
.arrow-down::before {
  content: "\25B6";
  color: gray;
  padding-right: 10px;
  display: inline-block;
  transform: rotate(90deg);
}
